<configuration>

    <timestamp key="TIMESTAMP" datePattern="HHmmss"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/RTSPServer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/RTSPServer-%d{yyyyMMdd-HH}.log</fileNamePattern>
            <maxHistory>48</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%-36(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-36(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ch" level="ERROR"/>
    <logger name="org" level="ERROR"/>
    <logger name="com" level="ERROR"/>

    <logger name="uk.co.caprica.vlcj" level="WARN"/>
    <logger name="cz.warewolf.components.rtsp.server" level="DEBUG"/>
    <logger name="cz.warewolf.components.net" level="WARN"/>


    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>